///
/// Color
/// to avoid to repeating map-get($colors, ...)
///
/// @example:
///   color("name_of_color", "type_of_color")
/// @param: {string} $color - the name of the color
/// @param: {string} $type  - the shade of the given color
///
@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @return null;
}
