//
// Create Color Classes
// @see base/variables/_colors.scss
//
@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    }
    @else {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
}

///
/// Blocks alignment and sizes
///
.relative {
    position: relative;
}
.relative {
    display: inline-block;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.cover {
    @extend %cover;
}
.reset-sizes {
  height: auto !important;
  width: auto !important;
}
.block {
  width: 100%;
}
.inline-block {
    display: inline-block;
}
.center-block {
  display: block;

  margin-right: auto;
  margin-left: auto;
}
.clearfix {
  @extend %clearfix;
}
.abs-br {
  position: absolute;
  bottom: 0;
  right: 0;
}

.abs-tr {
  position: absolute;
  top: 0;
  right: 0;
}

.abs-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.abs-tl {
  position: absolute;
  top: 0;
  left: 0;
}


///
/// common class for create padding inside a box
/// @see scss/base/placeholders/_global.scss
///
.padding {
    @extend %padding;
}

///
/// create a column which scroll his element vertically
///
.overflow-y {
  overflow-y: auto;
  overflow-x: hidden;
}

///
/// Spaces
///
.mt {
  margin-top: $global-space;
  &--l {
    margin-top: $global-space * 2;
  }
  &--xl {
    margin-top: $global-space * 3;
  }
}
.mr {
  margin-right: $global-space;
  &--l {
    margin-right: $global-space * 2;
  }
  &--xl {
    margin-right: $global-space * 3;
  }
}
.mb {
  margin-bottom: $global-space;
  &--l {
    margin-bottom: $global-space * 2;
  }
  &--xl {
    margin-bottom: $global-space * 3;
  }
}
.ml {
  margin-left: $global-space;
  &--l {
    margin-left: $global-space * 2;
  }
  &--xl {
    margin-left: $global-space * 3;
  }
}
.mv {
    @extend .mt;
    @extend .mb;
}
.mh {
    @extend .ml;
    @extend .mr;
}
.no-margin {
    margin: 0;
}

///
/// classes for set a shadow on a box with different depth effect
///
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

$zidexes: 'base', 'over-base', 'middle', 'over-middle', 'top', 'highest';
$z-base : 1;
@each $element in $zidexes {
.z-#{$element} {
  z-index : #{$z-base};
}
$z-base : $z-base + 1;
}


///
/// images
///
.img-responsive {
    @include img-responsive();
}

.img-cover {
    background-position: 50% 50%;
    background-size: cover;
}


///
/// Typography
///
.lowercase { text-transform: lowercase !important; }
.uppercase { text-transform: uppercase !important; }
.text-center { text-align: center; }


// Flexbox helpers
//
//

%flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-container {
    @extend %flex-container;
}

%flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex-1 {
    @extend %flex-1;
}


.flex-grid-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.ellipsisfy {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
