%full-height-absolute-element {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%left {
  float: left !important;
}

%right {
  float: right !important;
}

%cover {
  width: 100%;
  height: 100%;
}

%padding {
    padding: $global-space;
}

%circle {
    @include border-radius(50%);
}
