html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: color('purple', 'base');
    color:  $global-text-color;
    font-size: $global-font-family;
    font-family: $global-font-family;
    line-height: $global-line-height;
    @include box-sizing('content-box');
}

header {
    padding: 0 $global-space / 2;
}

.main-container {
    width: 770px;
    margin: 0 auto;
    padding-top: 50px;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}


input {
    outline: none;
}
