button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.btn {
  display: inline-block;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  background-image: none;

  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  @include border-radius($btn-base-border-radius);
  @include transition(.25s ease-out);
  @include button-size(map-get($btn-sizes, base));
  border: none;
  font-family: $global-font-family;
}

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "darken-1" {
      .btn-raise-#{$color_name} {
        @include button-variant($color_value, $color_value , true, true);
      }
      .btn-flat-#{$color_name} {
        @include button-variant($color_value, color('pink', 'base'), false, false);
      }
    }
  }
}


@each $size_name, $size in $btn-sizes {
  @if($size_name != 'base') {
    .btn-#{$size_name} {
      @include button-size($size);
    }
  }
}

.btn-flat-pink {
    @include button-variant(color('pink', 'base'), color('pink', 'base'), false, false);
}
.btn-circle {
    width: 21px;
    height: 21px;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
    @include border-radius(50%);
    @include transition(background .25s ease-out);
    &:hover {
        background: color('pink', 'base');
    }
    i {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 17px;
        width: 17px;
    }
}
