.card {
    min-height: 100px;
    max-width: 226px;
    width: 100%;
    position: relative;
    background-color: color('purple', 'lighten-1');
    color: color('purple', 'lighten-3');
    cursor: pointer;
    padding: $global-space;
    margin-bottom: $global-space;
    margin-left: $global-space / 2;
    margin-right: $global-space / 2;
    @include border-radius($global-border-radius);
    @include transition(background-color .25s ease-in);
    @extend .z-depth-1;
    &--new {
        background-color: color('purple', 'darken-1');
        border: 1px dashed color('purple', 'lighten-1');
        @extend %flex-container;
        align-items: center;
    }
    &:hover {
        background-color: color('purple', 'lighten-2');
        .card__description {
            visibility: visible;
        }
    }
    input[type="text"] {
        border: none;
        background: none;
        color: #fff;
        line-height: 25px;
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-family: $global-font-family;
        display: none;
        width: 100%;
        &:focus {
            border-bottom: 1px solid color('purple', 'base');
        }
    }
    &__title {
        margin: 0;
        line-height: 25px;
        @include transition(color .25s ease-in);

        button.edit {
            display: none;
            i {
                font-size: 20px;
            }
        }

        &:hover {
            color: #fff;
            button.edit {
                color: #fff;
                display: inline-block;
            }
        }
    }

    &__description {
        display: table;
        position: absolute;
        bottom: $global-space;
        visibility: hidden;
        > div {
            display: table-cell;
            vertical-align: bottom;
            p {
                font-size: 11px;
                line-height: 1.5;
                font-style: italic;
                margin: 0;
            }
        }
    }

    &__delete {
        position: absolute;
        right: $global-space;
        bottom: $global-space;
        display: none;
        &.show {
            display: block;
        }
    }
}
