///
/// Button size
/// Set different size for buttons
///
/// @see   scss/base/variables/_buttons.scss
/// @param {px} $size - pixel value
///
@mixin button-size($size) {
  padding: $size / 1.5 $size / 1.25;
  font-size: $size;
  line-height: $size;
}

///
/// Button variant
/// Set the style and states for buttons
///
/// @param {hex | hsl | rgb | rgba} $background - a color
/// @param {boolean} [$shadow] - set a shadow to a button
/// @param {bollean} [raise]   - raise effect on hover, focus state
///
@mixin button-variant($background, $hover: $background, $shadow: false, $raise: false) {
  @if (lightness($background) <= 60%) {
    color: $btn-positive-color;
  } @else {
    color: $btn-negative-color;
  }
  background-color: $background;
  @if $shadow {
    @include box-shadow(0px 2px 4px 0px rgba(0,0,0, 0.3));
  }
  &:hover, &:focus, &:visited {
    @if ($hover != $background){
        background: $hover
    } @else {
        background: lighten($hover, 15%);
    }
  }
  @if $raise {
    &:hover {
      @include transform(translateY(-2px));
    }
  }
}
