///
/// Responsive image:
/// Keep images from scaling beyond the width of their parents.
/// @params : display [block | inline-block]
///
@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
