///
/// Size
/// set different width height, if the second value is not declared the then
/// will be a square.
///
/// @param {px | % | em | rem} $width
/// @param {px | % | em | rem} [$height]
///
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
