$btn-base-border-radius: $global-border-radius;
$btn-positive-color: #fff;
$btn-negative-color: color('grey', 'darken-2');

$btn-sizes :(
  'huge'  : 30px,
  'big'   : 20px,
  'base'  : 15px,
  'small' : 10px,
  'tiny'  : 9px,
);
