/************************************************
** @file: base/variables/typography.scss
**
** @description: typography definitions for
**
** @author     : Jesús Herman <jesus.herman@engrande.com>
** @reviewer   : Davide Cariani <davide.cariani@engrande.com>, Juan Luis <juan.luis@engrande.com>
** @team       : UX developers
** @url        : budgetplaces.com
** Copyright 2015 EnGrande SL
*************************************************/

@import url("//fonts.googleapis.com/css?family=Roboto:400,300,500");

$global-font-family: 'Roboto', arial, sans-serif;
$global-font-size: 13px;
$global-font-weight: 300;
$global-line-height: 1.5em;
$global-text-color: color('purple', 'lighten-2');
